.places {
  font-family: "inter", Arial, sans-serif;
  display: grid;
  grid-row-gap: 80px;
  margin: 0 auto;
  width: calc(100% - 2*148px);
}

@media screen and (max-width: 1124px) {
    .places {
        width: calc(100% - 2*48px);
    }
    
}

@media screen and (max-width: 984px) {
    .places {
        width: calc(100% - 2*24px);
        grid-row-gap: 72px;
    }
    
}

@media screen and (max-width: 568px) {
    .places {
        width: 100%;   
        grid-row-gap: 50px;    
}
}
