.header__links {
    margin: 18px 0 6px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

@media screen and (max-width: 568px) {
    .header__links {
      margin: 14px 0 8px;
    }
  
}