.page__header {
      margin: 0 48px;
      
  }
  
  @media screen and (max-width: 896px) {
    .page__header {
      margin: 0 24px;    
      }
  }
  
  @media screen and (max-width: 567px) {
    .page__header{
      margin: 0 16px; 
  }
  }