.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  align-self: flex-start;
  margin: 0;
}

@media screen and (max-width: 984px) {
  .lead__caption {
    padding-left: 24px;
  }
  
}

@media screen and (max-width: 984px) {
  .lead__caption {
    padding-left: 16px;
  }
  
}