.place {
  font-family: "Inter", Aral, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin: 0 auto;
}


@media screen and (max-width: 1124px) {
  .place {
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 745px) {
  .place {
    grid-template-columns: 1fr;
  }
  
}

  @media screen and (max-width: 984px) {
    .place {
      grid-column-gap: 28px;
    }
}

@media screen and (max-width: 568px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}