.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
}

@media screen and (max-width: 568px) {
 .place__website {
  padding: 0 16px;
  margin: 0 0 32px;
 } 
}