.intro__title {
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  max-width: 690px;
  margin: 92px 0 40px;
  
}

@media screen and (max-width: 1124px) {
    .intro__title {
      padding: 0 48px;
    }
  }
  
  @media screen and (max-width: 984px) {
    .intro__title {
      padding: 0 24px;
    }
  }
  
  @media screen and (max-width: 568px) {
    .intro__title {
      padding: 0 16px;
      font-size: 32px;
      line-height: 1.09;
      max-width: 288px;
    }
  }